In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import GridSearchCV
from sklearn.tree import DecisionTreeRegressor

In [4]:
data = pd.read_csv("test_sample.csv")

In [5]:
data

     Y  X1  X2  X3
0    0   2   3   5
1    0   2   4   7
2    0   3   2   5
3    1   5   6   3
4    0   2   1   1
..  ..  ..  ..  ..
995  1   4   4   2
996  1   3   1   1
997  1   2   2   2
998  6   1   2   1
999  1   2   2   3

[1000 rows x 4 columns]

In [8]:
X, y = data.drop("Y", axis=1), data["Y"]

In [17]:
grid = {"ccp_alpha": np.linspace(0.01,0.1,10)}
regr_tree = DecisionTreeRegressor(random_state=0)
cross_val = GridSearchCV(regr_tree, grid, cv=10, scoring="neg_mean_squared_error")
cross_val.fit(X, y)
print(cross_val.best_estimator_)
print(-cross_val.best_score_)

DecisionTreeRegressor(ccp_alpha=np.float64(0.08), random_state=0)
3.904826419753087